@font-face {
	font-family: noto-sans-georgian;
	src: url(../fonts/noto-sans-georgian.ttf);
}

:root {
	--my-primary-text-color: #1c1c1c;
	--my-secondary-text-color: #64748b;
	--my-primary-color: #ffffff;
	--my-secondary-color: #3a79c7;
	--my-tertiary-color: #94a3b8;
}

body {
	background-color: var(--my-primary-color);
}

.my-page {
	height: 100vh;
	display: flex;
	flex-direction: column;
}

.my-centered-parent-div {
	height: 100vh;
	display: flex;
	margin-top: -2.5em;
}

.my-navbar {
	background-color: var(--my-primary-color);
	margin-top: 2em;
	max-width: 70em;
}

.my-navbar-text {
	font-family: noto-sans-georgian;
	font-weight: 600;
	font-size: 1.2em;
	letter-spacing: -0.015em;
}

.my-link {
	text-decoration: none;
	position: relative;
	color: var(--my-primary-text-color);
	z-index: 1;
}

.my-link::after {
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	height: 0.125em;
	background-color: var(--my-secondary-color);
	transform: scaleX(0);
	transform-origin: center;
	transition: transform 0.2s;
	z-index: -1;
}

.my-link:hover::after {
	transform: scaleX(1.15);
}