@font-face {
	font-family: geologica-regular;
	src: url(../fonts/manrope-regular.ttf);
}

@font-face {
	font-family: geologica-semibold;
	src: url(../fonts/manrope-semibold.ttf);
}

@font-face {
	font-family: geologica-black;
	src: url(../fonts/manrope-bold.ttf);
}

:root {
	--my-text-color: #222222;
}

.my-navbar {
	background-color: #ffffff;
	margin-top: 2em;
}

.my-navbar-text {
	font-family: geologica-semibold;
	font-size: 1.25em;
	letter-spacing: -0.01em;
}

.my-link {
	text-decoration: none;
	position: relative;
	color: var(--my-text-color);
}

.my-link::before {
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	height: 1.35em;
	background-color: rgba(255, 153, 0, 0.35);
	transform: scaleX(0);
	transform-origin: center;
	transition: transform 0.2s;
}

.my-link:hover::before {
	transform: scaleX(1.15);
}